@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Work+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    --bg: #EAEAEA;
    --bg_footer: #111;
    --font: #000;
    --font_footer: #FFF;
    --spotify_background: #000;
}

html[data-theme='dark'] {
    --bg: #222;
    --font: #FFF;
    --bg_footer: #EAEAEA;
    --font_footer: #000;
    --spotify_background: #FFF;
}

body {
    background-color: var(--bg);
    color: black;
    cursor: default;
    height: 100vh;
    display: grid;
    justify-items: center;
}

header {
    margin-bottom: 10px;
}

#page-wrap {
    max-width: 800px;
    padding: 2vh 3% 2vh 3%;
}

nav {
    height: 100px;
    max-width: 100%;
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: 50% 50%;
}

.top-bar {
    display: grid;
    grid-template-columns: 50px 5fr;
    height: 100%;
    align-content: start;
    grid-column-gap: 15px;
}

.top-bar h1 {
    text-transform: uppercase;
    font-family: 'Crimson Text', serif;
    font-size: 42px;
    font-weight: 500;
    color: var(--font);
    margin-block-start: 0;
    margin-block-end: 0;
}

#site-logo {
    max-width: 100%;
    height: auto;
}

.nav-bar {
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 50px 100px 100px;
    grid-column-gap: 32px;
    width: 40%;
    list-style-type: none;
    padding-inline-start: 0;
    margin-inline: 0;
    margin-block: 0;
    font-size: 26px;
    margin-left: 5px;
}

.nav-bar a {
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: var(--font);
}

main {
    grid-auto-rows: auto;
    display: grid;
    grid-row-gap: 30px;
    color: var(--font);
}

#upper-album-page {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

#album-info {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#upper-album-page h2 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

#upper-album-page p {
    font-family: 'Work Sans', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0;
    font-size: 14px;
}

#album_cover {
    max-width: 100%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px;
    margin: 10px 10px 20px 0;
}

.start_img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

#link-div {
    margin-top: 20px;
    display: grid;
    align-items: center;
}

#spotify-link {
    padding: 10px;
    background-color: var(--spotify_background);
    border-radius: 30px;
    max-width: 120px;
    height: auto;
}


#spotify-link-anchor {
    max-height: 56px;
}

#song-list {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}

#song-list ol{
    padding-inline-start: 35px;
}

#song-list ol li{
    margin-bottom: 10px;
}

footer{
    bottom: 0;
    width: 100%;
    margin-top: 25px;
    height: auto;
    background: var(--bg_footer);
    padding: 20px 0 40px 0;
    align-self: end;
    display: grid;
    justify-items: center;
}

#footer-wrapper {
    width: 100%;
    max-width: 800px;
    display: grid;
    justify-items: start;
}

#footer-content-container {
    max-width: 800px;
    height: auto;
    display: grid;
    justify-items: start;
    color: var(--font_footer);
    grid-row-gap: 20px;
}

footer h2 {
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    font-weight: 400;
    padding-left: 3%;
}

#footer-social {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 150px));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    padding-left: 3%;
}

#footer-social a {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: var(--font_footer);
    font-size: 22px;
}

input[type=checkbox] { /* styling for input element */
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle-container {
    display: grid;
    justify-self: start;
    justify-items: center;
    padding-left: 3%;
}

label { /* styling for labels */
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 27px;
    background: #777;
    float: right;
    border-radius: 100px;
    position: relative;
}

label:after { /* styling for labels - on toggle */
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

input:checked + label { /* conditional check while toggling */
    background: #1ba80e;
}

input:checked + label:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}


@media screen and (min-width: 768px){

    #upper-album-page {
        grid-template-columns: 1fr 1fr;
    }

    #album-info {
        justify-items: start;
    }

    footer h2 {
        font-size: 26px;
    }

    #footer-social {
        display: grid;
        grid-template-columns: repeat(4, minmax(120px, 150px));
        grid-template-rows: 1fr;
        grid-column-gap: 15px;
    }

    #footer-social a {
        font-size: 18px;
        transition: opacity 0.1s;
        opacity: 0.85;
    }

    #footer-social a:hover {
        opacity: 1;
    }
}